* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    --magic-mint: hsla(156, 100%, 85%, 1);
    --celadon: hsla(138, 61%, 74%, 1);
    --ocean-green: hsla(152, 37%, 56%, 1);  
    --steel-teal: hsla(185, 28%, 43%, 1);
    --dark-green: hsla(165, 100%, 7%, 1);
    --hover-color: rgba(181, 255, 225, 0.55);

}
ul li {
	display: inline;
}

.main {
	display: flex;
	/* text-align: center;
	line-height: 2; */
	margin-left: 20px;
	flex-direction: column;
}
.heading{
	text-align: center;
	margin-bottom: 50px;
	color: var(--dark-green);
}
.sub{
	text-align: center;
	margin-bottom: 30px;
}

[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

[type=radio] + img {
	cursor: pointer;
}

[type=radio]:checked + img {
	outline: 2px solid #f00;
}

.image {
	margin: 30px;
}

.CPU {
	width: 175px;
	height: 175px;
}

.cart {
	display: flex;
	flex-direction: column;
	width: 20%;
	position: fixed;
	top: 35%;
	right: 40px;
	align-items: center;
	justify-content: center;
	
}

.information {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 77%;
}

.dollor {
	position: relative;
	float: right;
}

.cart.price {
	position: relative;
	float: right;
}

.type {
	position: relative;
	float: left;
}
.sbtn{
	margin-left: 720px;
	display: flex;
    padding: 3px 30px ;
    border-radius: 30px;
    background-color: var(--dark-green);
    color: white;
	margin-bottom: 30px;
	margin-top: 30px;
	transition: .3s;
	font-size: 1.2rem;
	background:hsla(152, 37%, 56%, 1);
}
.sbtn:hover {
    transform: translateY(-5px);
    background: hsla(165, 100%, 7%, 1);
}
.byoTitles {
	text-align:center;
	background-color: var(--celadon);
border-radius: 30px;

}