ul li {
	display: inline;
}

.main {
	display: flex;
	text-align: center;
	line-height: 2;
	flex-direction: column;
}

[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

[type=radio] + img {
	cursor: pointer;
}

[type=radio]:checked + img {
	outline: 2px solid #f00;
}

img {
	margin: 30px;
}

.CPU {
	width: 175px;
	height: 175px;
}

.cart {
	display: flex;
	flex-direction: column;
	float: right;
	width: 20%;
	position: fixed;
	right: 40px;
	
}

.information {
	float: left;
	width: 77%;
}

.dollor {
	position: relative;
	float: right;
}

.cart.price {
	position: relative;
	float: right;
}

.type {
	position: relative;
	float: left;
}
